# Environments
.venv/
env/
.env
__pycache__/
*.pyc
YOLOMG_STW.egg-info/

# Data files
data_processed_ARD100/
data_prep_scripts/verify_overlays/
data_prep_scripts/mask_telemetry.log
~$training_run_data_analysis.xlsx
edge/inference_results/
*inference-results.csv
*inference_results.csv
profiler_logs/

# Model training runs
runs/

edge/~$ARD100_training_data_PTQ_review.xlsx
data/ptq_calibration_MASKS_tensors_640/
data/ptq_calibration_RGB_tensors_640/
data/ptq_calibration_MASKS_tensors_1280/
data/ptq_calibration_RGB_tensors_1280/